<% if flash[:success] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> <%= flash[:success] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                    <h6>Change Password</h6>
                    <hr class="mt-0 mb-4">
                    <%= form_with url: post_password_path, method: :post, local: true, id: "passwordForm" do |form| %>
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <%= form.text_field :userid, value: @user.userid, class: "form-control", readonly: true %><br>
                        <%= form.password_field :password, id: "password", class: "form-control", placeholder: "Password", required: true %><br>
                        <%= form.password_field :confirm_password, id: "confirm_password", class: "form-control", placeholder: "Confirm Password", required: true %>   
                      </div>
                    </div>
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <%= form.submit "Change Password", class: "btn btn-danger" %>
                      </div>
                    </div>
                  <% end %>                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById("passwordForm");
      const passwordField = document.getElementById("password");
      const confirmPasswordField = document.getElementById("confirm_password");
  
      form.addEventListener("submit", function (event) {
        if (passwordField.value !== confirmPasswordField.value) {
          event.preventDefault(); // Prevent the form from submitting
          alert("Passwords do not match. Please re-enter your passwords.");
        }
      });
    });
  </script>